<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletBD</servlet-name>
        <servlet-class>br.sport.tads.servlet.ServletBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarClientes</servlet-name>
        <servlet-class>br.sport.tads.servlet.ListarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarColaboradores</servlet-name>
        <servlet-class>br.sport.tads.servlet.ListarColaboradores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCliente</servlet-name>
        <servlet-class>br.sport.tads.servlet.CadastrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCliente</servlet-name>
        <servlet-class>br.sport.tads.servlet.AlterarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCliente</servlet-name>
        <servlet-class>br.sport.tads.servlet.ExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarCliente</servlet-name>
        <servlet-class>br.sport.tads.servlet.buscarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarColaborador</servlet-name>
        <servlet-class>br.sport.tads.servlet.AlterarColaborador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirColaborador</servlet-name>
        <servlet-class>br.sport.tads.servlet.ExcluirColaborador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarColaborador</servlet-name>
        <servlet-class>br.sport.tads.servlet.CadastrarColaborador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirProduto</servlet-name>
        <servlet-class>br.sport.tads.servlet.IncluirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaProdutos</servlet-name>
        <servlet-class>br.sport.tads.servlet.ListaProdutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProduto</servlet-name>
        <servlet-class>br.sport.tads.servlet.ExcluirProduto</servlet-class>
        <init-param>
            <param-name>Nome</param-name>
            <param-value>Valor</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AlterarProduto</servlet-name>
        <servlet-class>br.sport.tads.servlet.AlterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaPesquisarCliente</servlet-name>
        <servlet-class>br.sport.tads.servlet.VendaPesquisarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaGerarPedido</servlet-name>
        <servlet-class>br.sport.tads.servlet.VendaGerarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaBuscarProduto</servlet-name>
        <servlet-class>br.sport.tads.servlet.VendaBuscarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaListarCpf</servlet-name>
        <servlet-class>br.sport.tads.servlet.VendaListarCpf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaProduto</servlet-name>
        <servlet-class>br.sport.tads.servlet.VendaProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaPesquisarFilial</servlet-name>
        <servlet-class>br.sport.tads.servlet.VendaPesquisarFilial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaInserirProduto</servlet-name>
        <servlet-class>br.sport.tads.servlet.VendaInserirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaCarrinho</servlet-name>
        <servlet-class>br.sport.tads.servlet.VendaCarrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaExcluirItem</servlet-name>
        <servlet-class>br.sport.tads.servlet.VendaExcluirItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaFinalizar</servlet-name>
        <servlet-class>br.sport.tads.servlet.VendaFinalizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioCliente</servlet-name>
        <servlet-class>br.sport.tads.servlet.RelatorioCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletBD</servlet-name>
        <url-pattern>/ServletBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarClientes</servlet-name>
        <url-pattern>/ListarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarColaboradores</servlet-name>
        <url-pattern>/ListarColaboradores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCliente</servlet-name>
        <url-pattern>/CadastrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCliente</servlet-name>
        <url-pattern>/ExcluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarCliente</servlet-name>
        <url-pattern>/buscarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCliente</servlet-name>
        <url-pattern>/AlterarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncluirProduto</servlet-name>
        <url-pattern>/IncluirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaProdutos</servlet-name>
        <url-pattern>/ListaProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProduto</servlet-name>
        <url-pattern>/ExcluirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProduto</servlet-name>
        <url-pattern>/AlterarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarColaborador</servlet-name>
        <url-pattern>/AlterarColaborador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirColaborador</servlet-name>
        <url-pattern>/ExcluirColaborador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarColaborador</servlet-name>
        <url-pattern>/CadastrarColaborador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaPesquisarCliente</servlet-name>
        <url-pattern>/VendaPesquisarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaGerarPedido</servlet-name>
        <url-pattern>/VendaGerarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaBuscarProduto</servlet-name>
        <url-pattern>/VendaBuscarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaListarCpf</servlet-name>
        <url-pattern>/VendaListarCpf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaProduto</servlet-name>
        <url-pattern>/VendaProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaPesquisarFilial</servlet-name>
        <url-pattern>/VendaPesquisarFilial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaInserirProduto</servlet-name>
        <url-pattern>/VendaInserirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaCarrinho</servlet-name>
        <url-pattern>/VendaCarrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaExcluirItem</servlet-name>
        <url-pattern>/VendaExcluirItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaFinalizar</servlet-name>
        <url-pattern>/VendaFinalizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioCliente</servlet-name>
        <url-pattern>/RelatorioCliente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/paginaNaoEncontrada.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/acessoProibido.jsp</location>
    </error-page>
</web-app>
