<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AutorizacaoFilter</filter-name>
        <filter-class>br.sport.tads.filter.AutorizacaoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutorizacaoFilter</filter-name>
        <url-pattern>/protegido/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ServletBD</servlet-name>
        <servlet-class>br.sport.tads.servlet.ServletBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarFiliais</servlet-name>
        <servlet-class>br.sport.tads.servlet.ListarFiliais</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarClientes</servlet-name>
        <servlet-class>br.sport.tads.servlet.ListarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarColaboradores</servlet-name>
        <servlet-class>br.sport.tads.servlet.ListarColaboradores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCliente</servlet-name>
        <servlet-class>br.sport.tads.servlet.CadastrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCliente</servlet-name>
        <servlet-class>br.sport.tads.servlet.AlterarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCliente</servlet-name>
        <servlet-class>br.sport.tads.servlet.ExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarCliente</servlet-name>
        <servlet-class>br.sport.tads.servlet.buscarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarColaborador</servlet-name>
        <servlet-class>br.sport.tads.servlet.AlterarColaborador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirColaborador</servlet-name>
        <servlet-class>br.sport.tads.servlet.ExcluirColaborador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarColaborador</servlet-name>
        <servlet-class>br.sport.tads.servlet.CadastrarColaborador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirProduto</servlet-name>
        <servlet-class>br.sport.tads.servlet.IncluirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaProdutos</servlet-name>
        <servlet-class>br.sport.tads.servlet.ListaProdutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProduto</servlet-name>
        <servlet-class>br.sport.tads.servlet.ExcluirProduto</servlet-class>
        <init-param>
            <param-name>Nome</param-name>
            <param-value>Valor</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AlterarProduto</servlet-name>
        <servlet-class>br.sport.tads.servlet.AlterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>protegido/Vendas/VendaPesquisarCliente</servlet-name>
        <servlet-class>br.sport.tads.servlet.VendaPesquisarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioProdutosMaisVendidos</servlet-name>
        <servlet-class>br.sport.tads.servlet.RelatorioProdutosMaisVendidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioCliente</servlet-name>
        <servlet-class>br.sport.tads.servlet.RelatorioCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaPesquisarFilial</servlet-name>
        <servlet-class>br.sport.tads.servlet.VendaPesquisarFilial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaInserirProduto</servlet-name>
        <servlet-class>br.sport.tads.servlet.VendaInserirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioVendasCategoriaProduto</servlet-name>
        <servlet-class>br.sport.tads.servlet.RelatorioVendasCategoriaProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioVendasCliente</servlet-name>
        <servlet-class>br.sport.tads.servlet.RelatorioVendasCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioConsolidadoVendasPorFilial</servlet-name>
        <servlet-class>br.sport.tads.servlet.RelatorioConsolidadoVendasPorFilial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarFilial</servlet-name>
        <servlet-class>br.sport.tads.servlet.CadastrarFilial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFilial</servlet-name>
        <servlet-class>br.sport.tads.servlet.AlterarFilial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>br.sport.tads.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>br.sport.tads.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>protegido/Vendas/VendaPesquisaProduto</servlet-name>
        <servlet-class>br.sport.tads.servlet.VendaPesquisaProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>protegido/Vendas/VendaAdicionarProdutoCarrinho</servlet-name>
        <servlet-class>br.sport.tads.servlet.VendaAdicionarProdutoCarrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>protegido/Vendas/VendaRemoverProdutoCarrinho</servlet-name>
        <servlet-class>br.sport.tads.servlet.VendaRemoverProdutoCarrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>protegido/Vendas/FinalizarVenda</servlet-name>
        <servlet-class>br.sport.tads.servlet.FinalizarVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioVendasRegional</servlet-name>
        <servlet-class>br.sport.tads.servlet.RelatorioVendasRegional</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioVendasGlobal</servlet-name>
        <servlet-class>br.sport.tads.servlet.RelatorioVendasGlobal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirFilial</servlet-name>
        <servlet-class>br.sport.tads.servlet.ExcluirFilial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaBuscarProduto</servlet-name>
        <servlet-class>br.sport.tads.servlet.ListaBuscarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarColaborador</servlet-name>
        <servlet-class>br.sport.tads.servlet.BuscarColaborador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlterarFilial</servlet-name>
        <url-pattern>/AlterarFilial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirFilial</servlet-name>
        <url-pattern>/ExcluirFilial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBD</servlet-name>
        <url-pattern>/ServletBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarClientes</servlet-name>
        <url-pattern>/ListarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarFilial</servlet-name>
        <url-pattern>/CadastrarFilial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarColaboradores</servlet-name>
        <url-pattern>/ListarColaboradores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCliente</servlet-name>
        <url-pattern>/CadastrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCliente</servlet-name>
        <url-pattern>/ExcluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarCliente</servlet-name>
        <url-pattern>/buscarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCliente</servlet-name>
        <url-pattern>/AlterarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarFiliais</servlet-name>
        <url-pattern>/ListarFiliais</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncluirProduto</servlet-name>
        <url-pattern>/IncluirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaProdutos</servlet-name>
        <url-pattern>/ListaProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProduto</servlet-name>
        <url-pattern>/ExcluirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProduto</servlet-name>
        <url-pattern>/AlterarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarColaborador</servlet-name>
        <url-pattern>/AlterarColaborador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirColaborador</servlet-name>
        <url-pattern>/ExcluirColaborador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarColaborador</servlet-name>
        <url-pattern>/CadastrarColaborador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>protegido/Vendas/VendaPesquisarCliente</servlet-name>
        <url-pattern>/protegido/Vendas/VendaPesquisarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioCliente</servlet-name>
        <url-pattern>/RelatorioCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioVendasCliente</servlet-name>
        <url-pattern>/RelatorioVendasCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioConsolidadoVendasPorFilial</servlet-name>
        <url-pattern>/RelatorioConsolidadoVendasPorFilial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioVendasCategoriaProduto</servlet-name>
        <url-pattern>/RelatorioVendasCategoriaProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>protegido/Vendas/VendaPesquisaProduto</servlet-name>
        <url-pattern>/protegido/Vendas/VendaPesquisaProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>protegido/Vendas/VendaAdicionarProdutoCarrinho</servlet-name>
        <url-pattern>/protegido/Vendas/VendaAdicionarProdutoCarrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>protegido/Vendas/VendaRemoverProdutoCarrinho</servlet-name>
        <url-pattern>/protegido/Vendas/VendaRemoverProdutoCarrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>protegido/Vendas/FinalizarVenda</servlet-name>
        <url-pattern>/protegido/Vendas/FinalizarVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioVendasRegional</servlet-name>
        <url-pattern>/RelatorioVendasRegional</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioVendasGlobal</servlet-name>
        <url-pattern>/RelatorioVendasGlobal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaBuscarProduto</servlet-name>
        <url-pattern>/ListaBuscarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarColaborador</servlet-name>
        <url-pattern>/BuscarColaborador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/paginaNaoEncontrada.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/acessoProibido.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>protegido/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
